<%- include("partials/header") %>

<h1>About</h1>

<!-- include startingContent -->
<p><%= aboutContent %></p>

<a href="https://github.com/johncanero">John Cañero's Github</a>
<a href="https://johncanero.github.io/JamWebsite/index.html">John Cañero's Website</a>


<%- include("partials/footer") %>