<%- include("partials/header") %>

<h1>About</h1>

<!-- include startingContent -->
<p><%= aboutContent %></p>

<p>• <a href="https://github.com/johncanero">John Cañero's Github</a></p>
<p>• <a href="https://johncanero.github.io/JamWebsite/index.html">John Cañero's Website</a></p>


<%- include("partials/footer") %>