<%- include("partials/header") %>

<div class="justifyContent">
    <div>
        <h1 class="homeStyle">About</h1>
    </div>
    
    <!-- include startingContent -->
    <p><%= aboutContent %></p>
    
    <p>• <a href="https://github.com/johncanero">John Cañero's Github</a></p>
    <p>• <a href="https://johncanero.github.io/JamWebsite/index.html">John Cañero's Website</a></p>
</div>

<%- include("partials/footer") %>