<%- include("partials/header") %>

<!-- Design Compose Message in Bootstrap Form -->
<h1>Compose</h1>

<form class="" action="/compose" method="post">
    <!-- <input type="text" name="postTitle"> -->
    <p class="fw-bold">Title</p>
    <textarea name="Text1" cols="155" rows="1"></textarea>
    <p class="fw-bold">Post</p>
    <textarea name="Text1" cols="155" rows="5"></textarea>
    <br>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>


<%- include("partials/footer") %>