<%- include("partials/header") %>

<h1>Contact</h1>

<!-- include startingContent -->
<p><%= contactContent %></p>

<p>• <a href="https://johncanero.github.io/JamWebsite/index.html">John Cañero's Website</a></p>

<%- include("partials/footer") %>