<%- include("partials/header") %>

<div class="justifyContent">
  <div>
    <h1>Contact</h1>
  </div>

  <!-- include startingContent -->
  <p><%= contactContent %></p>
</div>

<p>
  •
  <a href="https://johncanero.github.io/JamWebsite/index.html"
    >John Cañero's Website</a
  >
</p>

<%- include("partials/footer") %>
