<%- include("partials/header") %>

<h1>Home</h1>

<!-- include startingContent -->
<div class="justifyContent">
    <p><%= startingContent %></p>
</div>

<!-- console within -->
<%- console.log(posts) %>

<%- include("partials/footer") %>